{%extends 'base.html'%}
{%load crispy_forms_tags%}

{%block title%}Password Change{%endblock title%}

{%block content%}
<div class="d-flex flex-column justify-content-center align-items-center"></div>
    <h1 class="text-center">Password Change</h1>
    <p class="text-center">Please enter your old password, for security reason. And then enter your new password twice so we can verify the new password</p>
    <div class="text-center">

    <form class="login-form" method="POST">
        {%csrf_token%}
        {{form|crispy}}
        <input class="btn btn-success d-block mx-auto" type="submit" value="Change My Password">
    </form>    
</div>



{%endblock content%}