{% extends "base.html" %}

{% block title %} {{title}} Tasks {% endblock title %}

{% block content %}
<h1 class="text-center">Kanban Task Board</h1>
<div class="kanban-container">
    <div class="kanban-column" id="todo">
    <h4 class="todo-banner">To Do</h4>
        <div class="add-task-form">
            <input type="text" class="form-control mb-2" placeholder="New task title">

            <button class="btn btn-primary">Add Task</button>
        </div>
    </div>

    <div class="kanban-column" id="in-progress">
        <h4 class="in-banner">In Progress</h4>
        <div class="tasks" data-status="in-progress"></div>


    </div>


    <div class="kanban-column" id="done">
        <h4 class="done-banner">Done</h4>
        <div class="tasks" data-status="done"></div>

        
    </div>

    <div class="kancolumn" id="done">
        <button class="button">+ Add Task</button>

    </div>


</div>
            <!-- <br>
            <table class="table table-dark">
            <tbody>
                
                {% for post in post_list %}  
                <tr>
                    <th scope="row" style="width: 20%;">{{ post.title }}</th>
                    <td style="width: 45%;">{{ post.body|truncatechars:64 }}</td>
                    <td style="width: 5%;">{{ post.author }}</td>
                    <td style="width: 10%;">{{ post.created_on|date:"F d, Y" }}</td>  
                    <td style="width: 10%;"><a href="{% url 'detail' post.id %}" class="btn btn-success btn-sm">Read more</a></td>
                </tr>

                {% endfor %}
            </tbody>
        </table>
    </div>
</div> -->

{% endblock content %}
